[Unit]
Description=Travel Cost Calculator Flask Application
After=network.target

[Service]
User=rick
WorkingDirectory=/home/rick/Travel-Cost-Calculator/python_app
Environment="PATH=/home/rick/Travel-Cost-Calculator/python_app/venv/bin"
Environment="PYTHONPATH=/home/rick/Travel-Cost-Calculator/python_app"
ExecStart=/home/rick/Travel-Cost-Calculator/python_app/venv/bin/python app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 