[Unit]
Description=Travel Cost Calculator Flask Application
After=network.target

[Service]
User=YOUR_USERNAME
WorkingDirectory=/path/to/Travel Cost Calculator/python_app
Environment="PATH=/path/to/Travel Cost Calculator/python_app/venv/bin"
ExecStart=/path/to/Travel Cost Calculator/python_app/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target 